.dropzone {
    border: 6px dotted #17BDFF;
    /*box-shadow: 0 2px 5px rgb(23, 189, 255), inset 0 0 26px rgb(114, 215, 255);*/
}
.dropzone:hover {
    border: 5px solid #17BDFF;
    color: #17BDFF;
}

.remove-shake{
    -webkit-animation-name:shake-base;
    -ms-animation-name:shake-base;
    animation-name:shake-base;
    -webkit-animation-duration:100ms;
    -ms-animation-duration:100ms;
    animation-duration:100ms;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-delay:0s;
    -ms-animation-delay:0s;
    animation-delay:0s;
    -webkit-animation-play-state:running;
    -ms-animation-play-state:running;
    animation-play-state:running
}